@page
@model SampleWebsite.Pages.GroupsModel
@{
    ViewData["Title"] = "Groups";
}

<h1>Example Group</h1>

Group Name : @Model.ViewModel.Name
<br />
Group Description : @Model.ViewModel.Description
