@page
@model YorkDeveloperEvents.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To York Developers</h1>

        <h2>The following communities are active in York,  join up to get involved</h2>

        <table>
            @foreach (var item in Model.ViewModel)
            {
                <tr>
                    <td><img src="@item.logo"/></td>
                    <td>@item.Description</td>
                </tr>
                <tr>
                    <td>@item.name</td>
                </tr>
            }
        </table>

        <h2>The following events are scheduled,  register for your place now.</h2>
    </div>
