@page
@model YorkDeveloperEvents.Pages.GroupsModel
@{
    ViewData["Title"] = "Groups";
}

<h1>Example Groups</h1>

@foreach (var item in Model.ViewModel)
{
    <span>@item.Name</span>
    <img src="@item.Logo" />
}


