@page
@model YorkDeveloperEvents.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To York Developers</h1>
        <br />
        <h2>The following communities are active in York,  join up to get involved</h2>
        <br />

        <div class="groupSummaries">
            @foreach (var item in Model.ViewModel)
            {
            <div class="groupSummary">
                <img class="groupLogo groupSummaryLogo" src="@item.Logo" />
                <div class="groupSummaryInfo">
                    <span>@item.Name</span><br />
                    <span>@item.StrapLine</span><br /><br /><br />
                    <a href="/ViewGroupDetails?groupSlug=@item.Slug">Find out more</a>
                </div>
            </div>
            }
        </div>
    </div>
