@page
@model YorkDeveloperEvents.Pages.MyGroupsModel
@{
    ViewData["Title"] = "My Groups";
}

<div class="text-center">
    <h1 class="display-4">You belong to the following groups</h1>
    <br />
    <table>
        @foreach (var item in Model.ViewModel)
        {
            <tr>
                <td><img class="groupLogo" src="@item.Logo" /></td>
                <td><markdown>@item.Description</markdown></td>
            </tr>
            <tr>
                <td>@item.Name</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>

                    <a href="/ViewGroupDetails?groupSlug=@item.Slug">Find out more</a>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        }
    </table>
</div>

