@model YorkDeveloperEvents.ViewModels.Answer
<input asp-for="@Model.Code" type="hidden" />
<label asp-for="@Model.Caption">@Model.Caption</label>
<input type="text" asp-for="@Model.UsersAnswer" />
<br />
