@model YorkDeveloperEvents.ViewModels.Question
    <tr>
        <td><input asp-for="@Model.Code" type="hidden" />Question:</td>
        <td><input asp-for="@Model.Caption" class="input100" /></td>
    </tr>
